    <header class="header">
       {{#if loggedIn}} 
       <div class="header-container">
         <a href="/home" class="logo">
          <img src="/images/logos/Logo.svg">
        </a>

        <div class="header-left">
          <ul>     
            <li>
              <a href="/myRecepies">My Recepies</a>
            </li>
            <li>
              <a href="/createRecipe">Create Recipe</a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="header-right">
        <ul>
          <li class="welcome">Welcome, {{email}} | 
            <a  href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      {{else}}
      <a href="/home" class="logo">
        <img src="/images/logos/Logo.svg">
      </a>

      <div class="header-right">
        <ul>
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
      </div> 
      {{/if}}
    </header>