{{> header}}
<div class="createFormContainer">
     <div class="createForm">       
        <h2>Add new recipe</h2>
            <form action="/createRecipe" method="POST" id="formAddRecipe">
                <label for="recipeName">Recipe name:</label>
                <input type="text" id="recipeName" name="recipeName" placeholder="Recipe name">
                <label for="ingredients">Ingredients:</label>
                <textarea type="text" id="ingredients" name="ingredients" placeholder="Ingredients" cols="30" rows="10"></textarea>
                <label for="time">Time:</label>
                <div class="container-time">
                    <input type="number" id="hours" name="hours" placeholder="Hours">
                    <input type="number" id="minutes" name="minutes" placeholder="Minutes">
                </div>
                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions" placeholder="Instructions" cols="30" rows="10"></textarea>
                <label for="imgUrl">Image:</label>
                <input type="text" id="imgUrl" name="imgUrl" placeholder="https://">

                <input type="submit" class="create" value="Add">
            </form>
    </div>
</div>
   
            
{{> footer}}