{{> header}}


<form action="/register" method="POST" class="register-form"> 

<div class="content-register-form">

<h1 class="title-register">Register</h1>
    <p>Already registered?
        <a href="/login">Login now</a> and have some fun!
    </p>
        <label for="email">
            <span>E-mail: </span>
        </label>
        <input type="email" name="email">
        <label for="password">
            <span>Password: </span>
        </label>
        <input type="password" name="password">
        <label for="repeatPassword">
            <span>Repeat password: </span>
        </label>
        <input type="repeatPassword" name="repeatPassword">
        <button class="register-btn">Register</button>
</div>
</form> 

{{> footer}}